@keyframes rotacao {
    from {transform: rotate(7deg);}
    to {transform: rotate(360deg);}
}

@keyframes piscar{
    from{opacity:1}
    to{opacity:0.3}
}

@keyframes escala{
    0%{transform: scale(1)}
    50%{transform: scale(1.2)}
    100%{transform: scale(1)}
}