.fex
    display: flex
    flex-wrap: wrap
    justify-content:center
    .flex-item
        margin: 50px

.botao-resutados
    background-color: $colors['main']
    color: #ffffff
    width: 15%
    height 40px
    font-size: 20px

.titulo-resultados
    margin-top: 0;
    font-size: 60px
    letter-spacing: 5px;

@media screen and (max-width: 800px)
    .botao-resutados
        width: 40%
        height 60px           

@media screen and (max-width: 375px)
    .botao-resutados
        width: 50%
        height 60px  