@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Open+Sans:400,700");
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.z-alto {
  z-index: 2;
}
.pd-0 {
  padding: 0;
}
.align-flex,
.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-artigo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-artigo > * {
  margin-bottom: 40px;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #fff;
  border-color: #82bcb6;
  cursor: default;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #82bcb6;
  background-color: #82bcb6;
}
.align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.align-center > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.dwqa-comment-form .dwqa-comment-show-button #submit {
  background-color: #82bcb6;
  color: #fff;
  padding: 10px;
}
.dwqa-questions-footer .dwqa-ask-question a {
  border: 1px solid #777776;
  padding: 10px;
  background-color: #82bcb6;
  color: #fff;
}
.bg-black {
  background-color: #211915;
}
.bg-text {
  background-color: #211915;
}
.bg-main {
  background-color: #82bcb6;
}
.bg-second {
  background-color: #ebecee;
}
.bg-third {
  background-color: #777776;
}
.bg-inverse,
#single-page .container {
  background-color: #fff;
}
.text-black {
  color: #211915;
}
.text-text {
  color: #211915;
}
.text-main {
  color: #82bcb6;
}
.text-second {
  color: #ebecee;
}
.text-third {
  color: #777776;
}
.text-inverse {
  color: #fff;
}
.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 43px;
  text-transform: uppercase;
  font-family: 'Georgia', sans-serif;
  background-color: #fff;
}
.menu:last-child {
  margin-left: 0;
}
.menu > li.menu-item {
  padding-left: 35px;
  font-size: 13px;
  position: relative;
  letter-spacing: 1px;
}
.menu > li.menu-item.menu-item-has-children::after {
  content: "Ë…";
  position: absolute;
  top: 0;
  right: -12px;
  font-weight: bold;
  width: 10px;
  height: 10px;
  color: #82bcb6;
}
.menu > li.menu-item .sub-menu {
  padding-top: 10px;
  position: absolute;
  top: 10px;
  left: -999999px;
  opacity: 0;
  transition: 0.5s opacity;
}
.menu > li.menu-item .sub-menu li {
  list-style: none;
  padding-left: 5px;
  padding-top: 10px;
}
.menu > li.menu-item .sub-menu li:first-child {
  border-top: 1px solid #d3d3d3;
}
.menu > li.menu-item[aria-expanded="true"] .sub-menu {
  display: block;
  left: 0;
  opacity: 1;
}
.menu a {
  color: #777776;
}
@media screen and (max-width: 995px) {
  .menu > li {
    padding-left: 15px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fechar-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.fechar-menu img {
  max-width: 40px;
}
.rede-sociais {
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
}
.menu-mob-flutuante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255,255,255,0.9);
}
.display-menu-mob {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.display-menu-mob li {
  list-style: none;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
}
.display-menu-mob li.menu-item-has-children {
  opacity: 0.8;
}
.display-menu-mob li a {
  text-decoration: none;
  color: #777776;
  transition: 0.3s;
}
.display-menu-mob li a:hover {
  color: #c4c4c2;
  font-weight: bold;
}
.display-menu-mob li a.ativo {
  color: #c4c4c2;
  font-weight: bold;
}
.display-menu-mob li .sub-menu {
  padding-left: 0;
}
.menu-mob {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 30px;
  right: 10px;
}
.menu-mob span.icon-bar {
  margin-top: 4px;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 3px;
  background-color: #82bcb6;
}
.menu-rede-sociais {
  position: absolute;
  bottom: 0px;
}
.menu-footer {
  padding: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-footer li {
  margin: 0 10px;
}
.menu-footer li a {
  color: #fff;
}
.menu-footer li .sub-menu {
  display: none;
}
.redes-sociais {
  padding-left: 6px;
}
.redes-sociais-mob {
  padding-top: 50px;
}
@media screen and (max-width: 995px) {
  .logo {
    text-align: center;
  }
  .logo img {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .display-menu li {
    margin-right: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .display-menu li {
    margin-right: 15px;
    font-size: 14px;
  }
}
p,
.font-style,
.font-extra-small,
.font-small,
.font-medium,
.font-large,
.font-extra-large {
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.capitular:first-letter {
  font-size: 30px;
  float: left;
  margin-right: 5px;
  font-weight: bold;
}
h1 {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.5rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}
h2 {
  font-size: 4.5rem;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 4.05rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 3.15rem;
    text-align: center;
  }
}
h3 {
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 3.6rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 2.8rem;
    text-align: center;
  }
}
h4 {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 2.7rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 2.1rem;
    text-align: center;
  }
}
h5 {
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 2.25rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h5 {
    font-size: 1.75rem;
    text-align: center;
  }
}
h6 {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 1.8rem;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  h6 {
    font-size: 1.4rem;
    text-align: center;
  }
}
.font-extra-small {
  font-size: 9px;
}
.font-small {
  font-size: 12px;
}
.font-medium {
  font-size: 15px;
}
.font-large {
  font-size: 18px;
}
.font-extra-large {
  font-size: 22px;
}
body {
  font: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #211915;
}
p {
  font-size: 15px;
  text-align: justify
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'cinzel', sans-serif;
  text-align: justify;
}
a {
  color: #82bcb6;
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
.eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
blockquote {
  border-left: 5px solid #82bcb6;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#wpcf7-f477-p451-o1 {
  margin-top: 20px;
}
#wpcf7-f477-p451-o1 label {
  font-size: 14px;
  width: 100%;
}
#wpcf7-f477-p451-o1 input {
  width: 100%;
}
#wpcf7-f477-p451-o1 textarea {
  width: 100%;
}
#wpcf7-f477-p451-o1 [type="submit"] {
  background-color: #82bcb6;
  color: #fff;
  border: 0;
}
input,
select,
textarea,
input.form-control,
select.form-control,
textarea.form-control {
  border-radius: 4px;
  border: 2px solid #d3d3d3;
  padding: 10px;
  color: #211915;
}
input:focus,
select:focus,
textarea:focus,
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border: 2px solid #ffa500;
}
input[disabled],
select[disabled],
textarea[disabled],
input.form-control[disabled],
select.form-control[disabled],
textarea.form-control[disabled] {
  border: 2px solid #a9a9a9;
}
input.is-error,
select.is-error,
textarea.is-error {
  border: 2px solid #de4040;
  color: #211915;
}
input.is-valid,
select.is-valid,
textarea.is-valid {
  border: 2px solid;
  color: #211915;
}
input[type="file"] {
  border: 0;
}
select,
select.form-control {
/* styling */
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
/* reset */
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select,
select.form-control {
  background-image: url("http://www.pngmart.com/files/3/Down-Arrow-PNG-Clipart.png");
  background-position: calc(100% - 20px) 1em;
  background-size: 15px;
  background-repeat: no-repeat;
}
.btn {
  border-radius: 3px;
  padding: 10px 40px;
  color: #fff;
  background-color: ;
  transition: 'inverse' 1s, box-shadow 1s;
}
.btn:hover {
  background-color: ;
  color: #fff;
  box-shadow: 2px 0px 8px #9e9c9c;
}
.btn:focus {
  background-color: ;
  color: #fff;
}
.btn:active {
  background-color: ;
  color: #fff;
}
.btn-danger,
.btn-success,
.btn-warning {
  border-radius: 3px;
  padding: 10px 40px;
  color: #fff;
}
.btn-danger {
  background-color: #c10500;
}
.btn-danger:hover {
  background-color: #cc0500;
}
.btn-success {
  background-color: #5cb85c;
}
.btn-success:hover {
  background-color: #3e8e3e;
}
.btn-warning {
  background-color: #f0ad4e;
}
.btn-warning:hover {
  background-color: #bc7510;
}
.btn-black {
  background-color: #211915;
}
.btn-black:hover {
  background-color: #211915;
}
.btn-text {
  background-color: #211915;
}
.btn-text:hover {
  background-color: #211915;
}
.btn-main {
  background-color: #82bcb6;
}
.btn-main:hover {
  background-color: #82bcb6;
}
.btn-second {
  background-color: #ebecee;
}
.btn-second:hover {
  background-color: #ebecee;
}
.btn-third {
  background-color: #777776;
}
.btn-third:hover {
  background-color: #777776;
}
.btn-inverse {
  background-color: #fff;
}
.btn-inverse:hover {
  background-color: #fff;
}
.pd-20 {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .pd-20 {
    padding: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pd-20 {
    padding: 6px;
  }
}
.pd-40 {
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .pd-40 {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pd-40 {
    padding: 13px;
  }
}
.pd-60 {
  padding: 60px;
}
@media screen and (max-width: 768px) {
  .pd-60 {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .pd-60 {
    padding: 20px;
  }
}
.pd-80 {
  padding: 80px;
}
@media screen and (max-width: 768px) {
  .pd-80 {
    padding: 40px;
  }
}
@media screen and (max-width: 576px) {
  .pd-80 {
    padding: 26px;
  }
}
.pd-20-top {
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .pd-20-top {
    padding-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pd-20-top {
    padding-top: 6px;
  }
}
.pd-40-top {
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .pd-40-top {
    padding-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pd-40-top {
    padding-top: 13px;
  }
}
.pd-60-top {
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .pd-60-top {
    padding-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .pd-60-top {
    padding-top: 20px;
  }
}
.pd-80-top {
  padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .pd-80-top {
    padding-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .pd-80-top {
    padding-top: 26px;
  }
}
.pd-20-bottom {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .pd-20-bottom {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pd-20-bottom {
    padding-bottom: 6px;
  }
}
.pd-40-bottom {
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .pd-40-bottom {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pd-40-bottom {
    padding-bottom: 13px;
  }
}
.pd-60-bottom {
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .pd-60-bottom {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .pd-60-bottom {
    padding-bottom: 20px;
  }
}
.pd-80-bottom {
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .pd-80-bottom {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .pd-80-bottom {
    padding-bottom: 26px;
  }
}
.pd-20-right {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .pd-20-right {
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pd-20-right {
    padding-right: 6px;
  }
}
.pd-40-right {
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .pd-40-right {
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pd-40-right {
    padding-right: 13px;
  }
}
.pd-60-right {
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .pd-60-right {
    padding-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .pd-60-right {
    padding-right: 20px;
  }
}
.pd-80-right {
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  .pd-80-right {
    padding-right: 40px;
  }
}
@media screen and (max-width: 576px) {
  .pd-80-right {
    padding-right: 26px;
  }
}
.pd-20-left {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .pd-20-left {
    padding-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pd-20-left {
    padding-left: 6px;
  }
}
.pd-40-left {
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .pd-40-left {
    padding-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pd-40-left {
    padding-left: 13px;
  }
}
.pd-60-left {
  padding-left: 60px;
}
@media screen and (max-width: 768px) {
  .pd-60-left {
    padding-left: 30px;
  }
}
@media screen and (max-width: 576px) {
  .pd-60-left {
    padding-left: 20px;
  }
}
.pd-80-left {
  padding-left: 80px;
}
@media screen and (max-width: 768px) {
  .pd-80-left {
    padding-left: 40px;
  }
}
@media screen and (max-width: 576px) {
  .pd-80-left {
    padding-left: 26px;
  }
}
.mg-20 {
  margin: 20px;
}
@media screen and (max-width: 728px) {
  .mg-20 {
    margin: 10px;
  }
}
.mg-40 {
  margin: 40px;
}
@media screen and (max-width: 728px) {
  .mg-40 {
    margin: 20px;
  }
}
.mg-60 {
  margin: 60px;
}
@media screen and (max-width: 728px) {
  .mg-60 {
    margin: 30px;
  }
}
.mg-80 {
  margin: 80px;
}
@media screen and (max-width: 728px) {
  .mg-80 {
    margin: 40px;
  }
}
.mg-20-top {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .mg-20-top {
    margin-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .mg-20-top {
    margin-top: 6px;
  }
}
.mg-40-top {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .mg-40-top {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .mg-40-top {
    margin-top: 13px;
  }
}
.mg-60-top {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .mg-60-top {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .mg-60-top {
    margin-top: 20px;
  }
}
.mg-80-top {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .mg-80-top {
    margin-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .mg-80-top {
    margin-top: 26px;
  }
}
.mg-20-bottom {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .mg-20-bottom {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .mg-20-bottom {
    margin-bottom: 6px;
  }
}
.mg-40-bottom {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .mg-40-bottom {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .mg-40-bottom {
    margin-bottom: 13px;
  }
}
.mg-60-bottom {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .mg-60-bottom {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .mg-60-bottom {
    margin-bottom: 20px;
  }
}
.mg-80-bottom {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .mg-80-bottom {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .mg-80-bottom {
    margin-bottom: 26px;
  }
}
.mg-20-right {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .mg-20-right {
    margin-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .mg-20-right {
    margin-right: 6px;
  }
}
.mg-40-right {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .mg-40-right {
    margin-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .mg-40-right {
    margin-right: 13px;
  }
}
.mg-60-right {
  margin-right: 60px;
}
@media screen and (max-width: 768px) {
  .mg-60-right {
    margin-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .mg-60-right {
    margin-right: 20px;
  }
}
.mg-80-right {
  margin-right: 80px;
}
@media screen and (max-width: 768px) {
  .mg-80-right {
    margin-right: 40px;
  }
}
@media screen and (max-width: 576px) {
  .mg-80-right {
    margin-right: 26px;
  }
}
.mg-20-left {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .mg-20-left {
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .mg-20-left {
    margin-left: 6px;
  }
}
.mg-40-left {
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .mg-40-left {
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .mg-40-left {
    margin-left: 13px;
  }
}
.mg-60-left {
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  .mg-60-left {
    margin-left: 30px;
  }
}
@media screen and (max-width: 576px) {
  .mg-60-left {
    margin-left: 20px;
  }
}
.mg-80-left {
  margin-left: 80px;
}
@media screen and (max-width: 768px) {
  .mg-80-left {
    margin-left: 40px;
  }
}
@media screen and (max-width: 576px) {
  .mg-80-left {
    margin-left: 26px;
  }
}
header {
  position: relative;
}
.menu-rede-sociais {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
}
.total {
  min-height: 100vh;
}
.img-doutor {
  margin-top: 40px;
}
.texto-banner {
  padding-top: 35px;
}
.img-bussade {
  margin-top: -50px;
}
@media screen and (max-width: 1200px) {
  .img-bussade {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1080px) {
  .img-bussade {
    margin-top: 95px;
  }
}
.busca {
  width: 25%;
  height: 40px;
  margin: auto;
  margin-top: 50px;
}
.lupa {
  background-image: url("../img/busca.png");
  background-position: 95% 9px;
  background-repeat: no-repeat;
  background-size: 18px;
}
.bussade-texto {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.4px;
  text-align: justify;
}
.util-same-size {
  font-size: 24px;
}
.single-title {
  font-size: 35px;
}
#searchsubmit {
  border-top: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  background-color: #fff;
  color: #82bcb6;
  height: 46px;
  padding: 0 20px;
}
#s {
  border-right: 0;
}
input,
select,
textarea,
input.form-control,
select.form-control,
textarea.form-control {
  border: 1px solid #9a9a9a;
}
input:focus,
select:focus,
textarea:focus,
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border: 2px solid #cacaca;
  transition: 1s;
}
.data-artigo {
  font-style: italic;
  font-family: 'Georgia', sans-serif;
}
.texto-artigo {
  padding-left: 20px;
}
.leia-mais {
  font-family: 'Georgia', sans-serif;
}
#artigos {
  padding: 0 35px;
  padding-bottom: 120px;
}
.color-bnt a {
  color: #fff;
}
.color-bnt:hover {
  color: #fff;
}
.dwqa-search input {
  background: url("../img/busca.png") no-repeat right 10px center #fff !important;
  background-size: 20px !important;
  border: 1px solid #777776;
}
.dwqa-questions-list {
  border-top: 1px solid #777776;
}
.dwqa-questions-list .dwqa-question-item {
  border-bottom: 1px solid #777776;
  border-left: 1px solid #777776;
  border-right: 1px solid #777776;
}
.dwqa-questions-footer .dwqa-ask-question a {
  border: 1px solid #777776;
}
.padding-bg {
  padding: 40px 50px;
}
.dwqa-ask-question a {
  color: #82bcb6;
}
.dwqa-ask-question:hover {
  color: #82bcb6;
}
.dwqa-answer-form .wp-editor-container,
.dwqa-content-edit-form .wp-editor-container {
  border: 1px solid #777776;
}
[name='dwqa-question-submit'] {
  width: 150px;
  height: 35px;
  background-color: #82bcb6;
  border-color: #82bcb6;
  color: #fff;
  margin-top: 20px;
}
.single-title-videos {
  font-size: 35px;
}
.single-page {
  text-align: justify;
}
@media screen and (max-width: 995px) {
  .bussade-texto {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .texto-banner {
    margin-top: 0;
    padding-top: 25px;
  }
  .busca {
    width: 70%;
  }
  .lupa {
    top: 10px;
  }
  .img-bussade {
    margin-top: -10px;
  }
  .btn-single {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  #artigos {
    padding: 0 15px;
  }
}
.logo-biz-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6db1aa;
}
.campo-email {
  width: 55%;
  margin-left: 0;
  height: 40px;
  border: 1px solid #fff;
}
.botao-ok {
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  color: #82bcb6;
  border-color: #fff;
  font-family: 'cinzel', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
footer a {
  color: #fff;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #82bcb6;
  text-align: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
}
.titulo-campo-email {
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
}
.link-footer a {
  color: #fff;
}
@media screen and (max-width: 980px) {
  label[for="email"]:before {
    top: 50%;
  }
}
@media screen and (max-width: 600px) {
  label[for="email"]:before {
    top: 46%;
  }
}
@supports (-ms-ime-align: auto) {
  .selector {
    color: #f00;
  }
}

/*# sourceMappingURL=maps/style.css.map */
