.bg-firmess
    background-image: url('../img/BANNER-FIRMESS.jpg')
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

.bg-striort
    background-image: url('../img/gif-bothanica.gif')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50px center;

.banner-leort-wrraper
    max-width: 1170px
    width 100%
    margin auto

.text-firmess
    margin-right 125px

.bg-produtos
    background-image url('../img/BANNER-PRODUTO-FINAL-SEM-TEXTO.png')
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

.text-produtos-banner
    margin-right 320px

@media screen and (max-width: 1750px)
    .bg-striort
        background-position: left center;

@media screen and (max-width: 1450px)
    .bg-striort
        background-size: 700px;
        background-position: 20px center;
    .banner-title-striort
        background-color alpha(#fff, 85%)
        padding 20px

@media screen and (max-width: 1370px)     
    .text-produtos-banner
        margin-right 50px
@media screen and (max-width: 1350px)
    .bg-striort
        background-position: center left
    .banner-title-striort
        background-color alpha(#fff, 85%)

@media screen and (max-width: 900px)
    .bg-striort
        background-size: 500px;
        background-position: center 200px;
    .firmess
        margin-top 10px
    .text-produtos-banner
        margin-right 0

@media screen and (max-width: 768px)
    .text-firmess
        text-align center
        margin auto 
        img 
            margin auto


@media screen and (max-width: 450px)   
    .bg-striort
        background-size: 450px;
        background-position: center 200px

@media screen and (max-width: 380px)   
    .bg-striort
        background-size: 450px;
        background-position: center bottom;
    .text-firmess
        text-align center
        margin auto 
        img 
            margin auto