.margin-banner1
    padding: 0

.margin-banner2
    padding-left:5px
    padding-right:0

.margin-banner3
    padding-left:5px
    padding-right:0
    padding-top:5px

.rede-sociais-blog
    text-align: center
    & > a
        padding-left:5px
.banneCover
    background-size: cover
    background-repeat: no-repeat
    width: 100%

.campo-busca-inativo
#custom-search-input
    button.btn-main
        padding 0 10px
        color: lighten($colors['main'], 20%)
        text-shadow 1px 1px 1px lighten($colors['main'], 30%)
    span 
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 99;
        color white
    input
        border none
        box-shadow none
        border-bottom: 1px solid $colors['main']
        background-color transparent
        &:focus            
            border-bottom: 1px solid lighten($colors['main'], 20%)
            box-shadow: 0 2px 2px -2px lighten($colors['main'], 20%)

#busca
    display flex
    position fixed
    justify-content center 
    width:100%
    height 100%
    background-color alpha(black, 0.9)
    z-index 999
    & > *
        align-self center
    .fechar-busca
        margin 0
        border 1px solid white
        border-radius 50%
        width 30px
        height auto
        margin-left 20px
        color white
        text-align center
        padding 0
        cursor pointer
        animation escala 1s infinite
    .input-group
        position relative
        width 70%;
        min-width 200px

    input
        border: none;
        border-bottom: 1px solid lighten($colors['main'], 20%)
        box-shadow: 0 2px 2px -2px lighten($colors['main'], 20%)
        &:focus
            border-bottom: 1px solid lighten($colors['main'], 20%)
            box-shadow: 0 2px 2px -2px lighten($colors['main'], 20%)






.banner-blog1
    @extends .banneCover
    background-image: url(../img/blog/background-parte1.jpg)
    height 605px
    background-position: center center;
    background-size: cover;

.banner-blog2
    @extends .banneCover
    background-image: url(../img/blog/background-parte2.jpg)
    height 300px

.banner-blog3
    @extends .banneCover
    background-image: url(../img/blog/background-parte3.jpg)
    height 300px

.section-blog
    padding: 5px

.possition-texto-banner
    text-align: center
    color: #fff

.possition-flor-banner
    margin:auto
    width: 40px

.gradiente-texto-banner
    background: -moz-linear-gradient(to bottom, rgba(2,0,0,0.01) 0%, #929292 100%);
    background: -webkit-linear-gradient(to bottom, rgba(2,0,0,0.01) 0%, #929292 100%);
    background: linear-gradient(to bottom, rgba(2,0,0,0.01) 0%, #929292 100%);
    position: absolute;
    bottom: 0;
    width: 100%;


.color
    color: #741815

.link-do-blog
    color: $colors['main']
    &:hover
        font-weight: bold
        text-decoration: none 
        color: $colors['main']

.link-barra-lateral 
    li
        list-style: none
        text-transform: uppercase
        padding-top: 8px;
        a
            color: #737373
            text-decoration: none
        a:hover
            color: $colors['main']
            font-weight: bold
            transition: 1s

.titulo-barra-lateral
    text-align: left 


label[for="email"]
    position: relative

label[for="email"]:before
    content: "Ok"
    background-color:#355731
    background-size: 50% 50%;
    width: 2em
    height: 2em
    background-position: center
    position: absolute
    top: 0
    right 0
    color: white
    text-align: center
    padding-top: 5px


.input-email
    background-color: #e2e7e2
    height: 28px
    width: 90%

.line-verde-post
    width: 100%;
    height: 1px;
    background-image: url(../img/linha-verde.png);
    background-position: center

.texto-rodape-post
    font-size: 12px
    margin-bottom: 0
    margin-top: 15px

.icones-post
    margin-top: 0
    width: 25px
    display: inline

.botoes-post
    margin-top: 100px
    display: flex
    justify-content: space-between
    p
        font-weight: bold
    &:hover
        color lighten($colors['main'], 20%)

#campo-busca
    position absolute
    top 10%
    left 25%
    width: 49%
    height 49px
    z-index 999999


.campo-de-busca
    box-shadow: 0 0 0 9999999px rgba(0,0,0,.7);

.campo-busca-inativo
    display: none 


.botao-procurar
    z-index 9999999
    position: absolute
    top: 9.9%
    left 72.5%
    width: 50px
    cursor: pointer



.data
    color: #9fa1a1

 

@media screen and (max-width:900px)
    .banner-blog1
        background-position: top, left

    .margin-banner2
        padding-left:0
        padding-top 5px

    .margin-banner3
        padding-left:0 
    
    .gradiente-texto-banner
        p
            padding: 0 30px


@media screen and (max-width:700px)
    .banner-small
        padding-top: 5px
