.borda
    border: 2px solid $colors['main'];

.botao-fale-conosco 
    margin: auto
    background-color: $colors['main']
    color: #ffffff
    width: 25%
    height 40px
    font-size: 16px
    margin-bottom: 80px;
    &:hover
        background-color: lighten($colors['main'], 20%)
        transition: 1s

input:focus, select:focus, textarea:focus, input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border: 2px solid #84c140;
    opacity: .8
}

.inativar-titulo
    display: none;

@media screen and (max-width: 990px)
    .inativar-titulo
        display: block;