/** 
Definir as principais cores para os inputs
*/
$border-color = transparent
$border-color-focus =$colors['oceano']
$border-radius = 0px


input
select
textarea
input.form-control
select.form-control
textarea.form-control
    border-radius: $border-radius
    border: 1px solid $border-color
    color: $colors['black']
    background-color: #f8f8f8
    &:focus // inputs selecionados
      border: 2px solid $border-color-focus
    &[disabled]
      border: 2px solid darkgray

input.is-error
select.is-error
textarea.is-error
    border: 2px solid #de4040
    color: $colors['black']

input.is-valid
select.is-valid
textarea.is-valid
    border: 2px solid $colors['escola']
    color: $colors['black']


input[type="file"]
  border 0

select
select.form-control
  /* styling */
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
.input-lg-register
  font-size: 14px
  height: 53px
select
select.form-control
  background-image: url(http://www.pngmart.com/files/3/Down-Arrow-PNG-Clipart.png)
  background-position:
    calc(100% - 20px) 1em
  background-size: 15px
  background-repeat: no-repeat;


select#lang
    background-image: url(http://www.pngmart.com/files/3/Down-Arrow-PNG-Clipart.png);
    background-position: calc(100%) 0.2em;
    background-size: 12px;
    /* background-repeat: no-repeat; */
    /* display: inline-block; */
    line-height: 1.5em;
    padding: 0 1.2em 0em 0.5em;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;

select#lang:focus
  border: 1px solid $colors['main']

    

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

