.banner-pag-tecnologia
    text-align: center
    img 
        margin: auto

.background-tecnologia
    background-image: url(../img/fundo-tecnologia.jpg)
    background-position: top center
    background-repeat: no-repeat;
    background-size: auto;



.bandeira-tec
    position: relative

@media screen and (max-width:900px)
    .bandeira-tec
        left: -100px