.background-produtos-tec
    background-image: url(../img/fundo-tecnologia.jpg), url(../img/background-tec.jpg)
    background-position: top center, center bottom
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom 220px
    