.background-produtos-tec
    background-image: url(../img/fundo-tecnologia.jpg), url(../img/background-tec.jpg)
    background-position: top center, center bottom
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom 220px

.background-quem-somos
    background-image: url(../img/background-tec.jpg)
    background-position: center bottom
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom 220px    

.lista-produtos
    li
        letter-spacing: 0.02rem;
        margin-bottom: 2rem;
        font-size: 22px;
        line-height: 25px;
        font-size: 18px;