.relative
    position: relative

.absolute 
    position: absolute

.z-alto
    z-index: 2
.padding-zero
    padding: 0

.back-cover
    background-size: cover

.back-contain
    background-size: contain

.to-right
    float: right 

.text-overflow
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap

.display-Flex
    display: flex
    width: 100%
    justify-content: space-between
    margin-top: 40px
    flex-wrap: wrap
    .flex-item
        padding: 40px
        text-align: center
        width: 30%

.borda
    border: 1px solid #c2c2c2
    margin-bottom: 20px

.icone-verde
    margin-top: -100px

.slick-dots {
    bottom: 5px;
}

.slick-dotted.slick-slider
    margin-bottom 0

.ss-social-sharing
    margin-top 40px
    margin-bottom 40px
@media screen and (max-width: $queries['medium'])
    .display-Flex
        margin-top: 40px
        .flex-item
            width: 100%
            &:nth-child(2)
                margin-top: 100px
                margin-bottom: 100px