
// Breakpoints
$queries = {
	'small' : 576px,
	'medium' : 768px,
	'large' : 992px,
	'x-large': 1200px
}

// COLORS //
$colors = {
	'text': 'black',
	'inverse':white,
	'main':#005620,
	'cinza': #58595c,
	'verde': #219650,
	'light-gray': #f9f9f9      
}

$shadow-color = #f9f9f9;

// fonts
$fonts-family = 'Titillium Web', sans-serif

$font-color-default = $colors['cinza']

// defina os tamanhos da tag H
$hs-sizes = {
	'h1' : 48px,
	'h2' : 40px,
	'h3' : 30px,
	'h4' : 25px,
	'h5' : 16px,
	'h6' : 14px
}


// fonts porcentagem em monitores abaixo de 728
$font-medium = 0.9;
$font-medium-align = left

// fonts porcentagem 528
$font-xs = 0.7;
$font-xs-align = center

// btn default setting
$btn-bg = transparent
$btn-text = $colors['oceano']

// tamanho de fontes
$font-size = {
	'extra-small' 	: 9px,
	'small' 		: 12px,
	'medium'		: 18px,
	'large'			: 25px,
	'extra-large'	: 20px		
}
$letterSpacing = 0.2px
$lineHeight = 30px

// padding
$pad_marg = {
	'20' : 20px,
	'40' : 40px,
	'60' : 60px,
	'80' : 80px
}